.slider{
    overflow:hidden;
    margin: 0px 100px;
    border-radius: 5px;
}
.slider .slider_images{
    position: relative; 
    width: 600%;
    height:47vh;
    margin-top: 5px;
    left: 0;
    animation: 20s slider infinite ease-in-out;
    /* background: none; */
}
.loading_images{
    background: url(../../../../public/img/blur-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slider .slider_images img{
    width: 16.66%;
    float: left;
    height: 47vh;
    object-position: center;
    object-fit: fill;
} 
@keyframes slider{
    0%{
        left: 0;
    }
    33%{
        left: -100%;
    }
    66%{
        left: -200%;
    }
    100%{
        left: -300%;
    }
}
@media(max-width:850px){
    .slider{
        margin: 0px 10px;
        
    }
   
}
@media (max-width:500px){
    .slider{
        margin: 0px 10px;
        min-width: 280px;  
        background-color: var(--py_bg_color2);
        border-radius: 0px;
    }
    .slider .slider_images{
        height: 30vh;
    }
    .slider .slider_images img{
        height: 30vh;
    }
}
