.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    padding: 0px 100px; 
    background-color: var(--py_bg_color2); 
}
.product{
    margin: 10px 0px;
    box-shadow: 0px 0px 5px grey;
    padding: 10px;
    border-radius: 5px;
    min-width: 120px;
    background-color: rgba(0,0,0,0.1);
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}
.product.allproducts{
    background-color: white;
}
.product img{
    width: 165px;
    height: 140px;
    object-fit: contain;
}
.product h4{
    color: var(--py_btn_bg);
}
.product p{
    color: var(--py_btn_bg);
    font-weight: var(--py_font_weight);
}
@media(max-width:850px){
    .products{
        padding: 0px 10px;
    }
}
@media(max-width:650px){
    .products{
        grid-template-columns: repeat(3,1fr);
    }
    .product h4,.product p{
        font-size: 14px;
    }
}
@media(max-width:500px){
    .product{
        padding:0;
    }
    .products{
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        min-width: 280px;
    }
    .product h4,.product p{
        font-size: 12px;
        margin: 0;
        padding: 5px;
    }
}
