:root{
  --py_font_color: white;
  --py_bg_color1:#00bfff;
  --py_bg_color2:#87cefa;
  --placeholder_color:rgb(165, 164, 164);
  --py_font_weight:bold;
  font-family: sans-serif;
  --py_button_height:30px;
  --py_button_width:80px;
  --py_btn_bg:rosybrown;
}
.top{
  position: sticky;
  top: 0%;
  z-index: 99; 
}
